<form [formGroup]="fbg">
    <label for="">email</label>
    <input type="text" formControlName="email">
    <div *ngIf="fbg.get('email')?.invalid">
        <div *ngIf="fbg.get('email')?.errors?.['required']">
required
        </div>
<div *ngIf="fbg.get('email')?.errors?.['minlength']">
minlenght
        </div>
    </div>
    <label for="">pwd</label>
      <input type="text" formControlName="pwd">
      <input type="button" value="save" [disabled]="fbg.invalid" (click)="addElementToTab(fbg.value)">
</form>
<br>
<div *ngFor="let p of tab" >
{{p.email}}
{{p.pwd}}
</div>